{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["@typescript-eslint", "jest", "jest-formatting"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts", "**/*.spec.tsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
